<div class="card-container card-container-outer card-container-simple">
  <%= image_tag "bottle-photo-cutout.png", alt: "Bono Estate Extra Virgin Olive Oil", class:"bottle-photo-cutout" %>
  <div class="card-container card-container-vertical">
    <div class="card-content card-logo-with-text">
      <%= image_tag "bono-estate-logo.svg", alt: "Bono Estate", height: 128 %>
      <h2 class="centered-text">Premium Olive Oil</h2>
      <h3 class="centered-text">Made in Salinella</h3>
      <h2 class="centered-text">Sicily</h2>
      <p>Traditionally farmed, harvested, and pressed by the Bono family for four generations</p>
    </div>
  </div>
</div>
<%= image_tag "triple-blend-stamp.svg", alt: "Triple Blend Oil", class:"triple-blend-stamp" %>
