<div class="card-container card-container-outer card-container-simple">
  <%= image_tag "bottle-photo-cutout.png", alt: "Bono Estate Extra Virgin Olive Oil", class:"bottle-photo-cutout" %>
  <div class="card-container card-container-vertical">
    <div class="card-content card-logo-with-text">
      <%= image_tag "bono-estate-logo.svg", alt: "Bono Estate", height: 128 %>
      <p class="narrow-text centered-text larger-text">Premium Olive Oil</p>
      <p class="narrow-text centered-text caps-text">Made in Salinella, Sicily</p>
      <p class="narrow-text centered-text">Traditionally farmed, harvested, and pressed by the Bono family for four generations</p>
    </div>
  </div>
</div>
<%= image_tag "triple-blend-stamp.svg", alt: "Triple Blend Oil", class:"triple-blend-stamp" %>
