<div class="page-content">
  <%= image_tag "bottle-photo-cutout.png", alt: "Bono Estate Extra Virgin Olive Oil", class:"bottle-photo-cutout" %>
  <div class="card-wrapper">
    <div class="card-content">
      <%= image_tag "bono-estate-logo.svg", alt: "Bono Estate", height: 128 %>
      <span><p id="ev">EXTRA VIRGIN</p><p id="oil">OLIVE OIL</p></span>
      <span><p id="region">MADE IN SALINELLA</p><p id="country">SICILY</p></span>
      <p id="description">Traditionally farmed, harvested, and pressed by the Bono family for four generations</p>
    </div>
  </div>
</div>
