<div class="card-container card-container-outer card-container-simple">
  <div class="card-container card-container-vertical">
    <div class="card-content card-logo-with-text">
      <%= image_tag "bono-estate-logo.svg", alt: "Bono Estate", height: 128 %>
      <p>is currently available from select retailers and exclusively used by restaurants including:</p>
    </div>
  </div>
  <%= image_tag "bottle-photo-cutout.png", alt: "Bono Estate Extra Virgin Olive Oil", class:"bottle-photo-cutout" %>
  <div class="card-container card-container-vertical">
    <div class="card-content card-text-only">
      <a href='https://italodeli.co.uk'>
        <p class="centered-text larger-text">Italo Deli</p>
        <address>
          <span>
            13 Bonnington Square<br>
            Vauxhall<br>
            London<br>
            SW8 1TE<br>
            italodeli.co.uk
          </span>
        </address>
      </a>
    </div>
    <div class="card-content card-text-only">
      <a href='http://www.locandalocatelli.com'>
        <p class="centered-text larger-text">Locanda Locatelli</p>
          <address>
            <span>
              8 Seymour Street<br>
              Marylebone<br>
              London<br>
              W1H 7JZ<br>
              www.locandalocatelli.com
            </span>
          </address>
      </a>
    </div>
  </div>
</div>
<%= image_tag "triple-blend-stamp.svg", alt: "Triple Blend Oil", class:"triple-blend-stamp" %>
