.card-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 24px;
}

.card-container-vertical {
  flex-direction: column;
  align-items: stretch;
  max-width: 50vw;
}

.card-container-horizontal {
  width: 100%;
  padding: 0;
}

.card-container-outer {
  max-width: 80vw;
  margin-top: 25px;
}

.card-content {
  background: radial-gradient(circle,  rgba(white,0.02) 33%, rgba(white,0.15) 90%);
  padding: 14px;
  outline: 2px solid $lightgold;
  outline-offset: -10px;
  border-radius: 8px;
  p, h2, h3, figcaption, address {
    -webkit-text-stroke: 0.1px rgba($darkgreen,0.5);
    -webkit-text-fill-color: $lightgold;
    font-size: 1.3em;
  }
  h2, h3, figcaption {
    text-align: center;
    font-variant: small-caps;
    font-weight: bolder;
  }
}

.card-text-only, .card-logo-with-text {
  max-width: 32vw;
  min-width: 42%;
  padding-top: 12px;
  margin-bottom: 2%;
  p {
    text-indent: 1em;
  }
  p, address {
    line-height: 1.75em;
    padding-left: 1em 0.4em;
    font-size: 1.2em;
  }
  address {
    padding: 0.3em 0.5em 0;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 1.4em;
  }
  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0.5em;
  }
}

.card-logo-with-text {
  display: flex;
  flex-direction: column;
  img {
    margin-bottom: 10%;
    margin-top: 4%;
    width: 100%;
  }
}

.card-img-with-caption {
  display: flex;
  flex-direction: column;
  margin: 2%;
  img {
    align-self: center;
    flex: 0 0 auto;
    max-height: 450px;
    max-width: 850px;
    width: 100%;
  }
  figcaption {
    min-width: 20vw;
  }
}

.card-container-simple {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.centered-text {
  text-align: center;
}
