// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body {
  background-color: $green;
  height: 100%;
  padding: 0;
  margin: 0;
}

a, i {
  text-decoration: none !important;
}

#main-content {
  background-image: image-url('back.png');
  background-size: cover;
  height: calc(100vh - 165px);
  position: absolute;
  top: 90px;
  width: 100%;
}

.page-content {
  width: 100%;
  height: 100%;
}

.bottle-photo-cutout {
  height: 70vh;
  position: absolute;
  top: 6px;
  left: 24vw;
}
